body {
  font-family: e-Ukraine-Bold, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #17181C; /* dark gray */
}

.container {
  max-width: 300px; /* збільшуємо ширину контейнера */
  margin: 1rem auto; /* змінюємо відступи */
  padding: 2rem;
  background-color: #262930; /* darker gray */
  border-radius: 40px; /* зменшуємо округленість кутів */
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* додаємо тінь */
}


h1 {
  font-size: 3rem; /* зменшуємо розмір заголовку */
  margin-bottom: 1rem;
  padding-bottom: 1px; /* збільшуємо відступ після заголовку */
  color: #fff; /* white */
}

p {
  margin-bottom: 1.5rem; /* збільшуємо відступ між абзацами */
  line-height: 1; /* збільшуємо міжрядковий інтервал */
  color: #B1B9C4; /* light gray */
}

.category {
  font-size: 0.8rem;
  color: #B1B9C4; /* gray */
  margin-left: 0rem; /* зменшуємо відступ зліва для категорії */
}
.category2 {
  font-size: 0.8rem;
  color: #B1B9C4; /* gray */
  margin-left: 0rem; /* зменшуємо відступ зліва для категорії */
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; /* збільшуємо відступ нижнього краю */
}

.downloads,
.followers {
  font-size: 1rem;
  color: #fff; /* white */
  background-color: #434957; /* green */
  border-radius: 23px; /* зменшуємо округленість кутів */
  padding: 0.5rem 0.88rem; /* збільшуємо внутрішній відступ */
}

.small {
  font-size: 0.7rem; /* зменшуємо розмір малих текстів */
  color: #B1B9C4; /* light gray */
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; /* збільшуємо відступ нижнього краю */
}

.details-item {
  margin-right: 1rem; /* зменшуємо відступ між елементами */
}

.label {
  font-size: 0.8rem;
  color: #ccc; /* light gray */
  display: block;
  margin-bottom: 0.5rem; /* збільшуємо відступ між елементами */
}

.date {
  font-size: 1rem;
  color: #fff; /* white */
}

.description {
  margin-bottom: 1.5rem; /* збільшуємо відступ нижнього краю */
  color: #ccc; /* light gray */
}

.code {
  /*font-family: monospace;*/
  /*background-color: #f5f5f5;
 /* padding: 0.3rem 0.7rem;  збільшуємо внутрішній відступ */
 /* border-radius: 3px;*/
}

.cta {
  display: flex;
  justify-content: flex-start; /* змінюємо вирівнювання */
}

.button {
  background-color: #434957; /* green */
  color: #fff;
  padding: 0.5rem 1rem; /* збільшуємо внутрішній відступ */
  border: none; /* видаляємо рамку */
  border-radius: 23px; /* зменшуємо округленість кутів */
  cursor: pointer;
  margin-right: 1rem; /* збільшуємо відступ між кнопками */
  text-decoration: none;
}

.button:hover {
  background-color: #333; /
}

.separator {
  border-bottom: 1px solid #ccc; /* light gray */
  margin-bottom: 1.5rem; /* збільшуємо відступ нижнього краю */
}